@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@200,800&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@200,600&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@200,600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
}


body
{
background-color:rgb(209, 187, 158)
}

header nav {
  width: 1155px;
  height:30px;
  background-color:rgb(240, 153, 125) ;
  color: antiquewhite;
  font-family:"Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  padding-top: 8px;
  padding-right:5px;
  padding-bottom:5px;
  padding-left: 10px;
  margin: 15px;
}

ul, ol {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #b44e25;
  padding: 25px;
  border: 10px solid burlywood;
  margin: 30px 20px 30px 20px;
  text-align:center;
  font-size: xx-large;
  font-family: "Poetsen One", sans-serif;
  font-weight: 500px;
  font-style: normal;
  -webkit-text-stroke: 0.5px white;
}

h2 {
  color:rgb(80, 60, 60) ;
  padding: 25px;
  text-align:left;
  font-size: xx-large;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

  h3 {
    padding: 20px;
    color: rgb(141, 92, 29);
    text-align: left;
    font-size: x-large;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h4{
    font-family:"Montserrat", sans-serif;  
    font-size: medium;
    padding-left:20px
  }

  h5 {
    color:rgb(80, 60, 60) ;
    padding: 25px;
    text-align:center;
    font-size: xx-large;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke: 0.5px whitesmoke;;
    }
  
  p {
    color:rgb(22, 19, 18,);
    padding: 20px;
    border: 20px solid none; 
    margin:20px;
    font-size: large;
    font-family: "Montserrat", sans-serif; 
    font: weight 200px;
    
  } 

  .menu ul {
    list-style: none; /* Elimina las viñetas de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
}

.menu li {
    display: inline-block; /* Hace que los elementos de lista se muestren en línea */
    margin-right: 20px; /* Espaciado entre elementos de lista */
}

.menu li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #2b0e0e; /* Color del texto de los enlaces */
    padding: 10px; /* Espaciado interno de los enlaces */
}



img {
  margin: 10px; 
}

form{
  text-align: center;
}

.container {
  width: 50%; /* Anchura del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Espacio alrededor del contenedor */
  border: 10px solid burlywood; /* Borde alrededor del contenedor */
  border-radius: 5px; /* Bordes redondeados */
}
form input {
  width: 100%; /* Ancho completo */
  padding: 8px; /* Espacio interno */
  margin-bottom: 10px; /* Margen inferior */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  box-sizing: border-box; /* Tamaño incluye el borde y el relleno */
}
form label {
  display: block; /* Mostrar en bloque */
  font-weight: bold; /* Texto en negrita */
}

a title {
  padding: 20px; 
  margin: 20px;
  border: 20px solid none;
  text-align: center;
}


section{
  padding: 10px ;
  margin: 10px 20px 10px 20px;
  border: 10px solid burlywood ;
  
}